{% extends "layout.html" %}

{% block title %}
AI helper
{% endblock %}

{% block body %}

<div class="main-container">
  <h1 class="main-text">AI helper</h1>
  <p class="main-text"> Write a prompt. AI will try to find a relevant article and fill in the form.</p>
  <div>
    <form action="/ai" method="post">
      <input type="text" placeholder="Prompt" name="ai_prompt" size="30"/>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div>
    {% if citation_type %}
    <h2 class="main-text">{{ citation_type.capitalize() }}</h2>

    <form action="/create_citation" method="post">
      <label class="main-text" for="content">Enter a new citation:</label>
      <input type="hidden" name="citation_type" value="{{ citation_type }}">
      <br/>
      <p class="main-text">Required fields:</p>
      {% for field in all_citation_types[citation_type]["required"] %}
      <input type="text" name="{{ field }}" size="30"
      {% if field in fields %}
      value="{{ fields[field] }}"
      {% endif %}
      placeholder="{{ field.capitalize() }}" required>
      <br>
      {% endfor %}
      
      <p class="main-text">Optional fields:</p>
      {% for field in all_citation_types[citation_type]["optional"] %}
      <input type="text" name="{{ field }}" size="30"
      {% if field in fields %}
      value="{{ fields[field] }}"
      {% endif %}
      placeholder="{{ field.capitalize() }}">
      <br>
      {% endfor %}
      
      <button type="submit">
        Create
      </button>
    </form>

  {% endif %}
  </div>
</div>

{% endblock %}
