{% extends "layout.html" %}

{% block title %}
Citation app
{% endblock %}

{% block body %}

<h1>Citation helper</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/" method="post">
  <select name="citation_type" required>
    {% for ctype in all_citation_types %}
      <option value="{{ ctype }}" {% if ctype == citation_type %}selected{% endif %}>{{ ctype }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Select">
</form>

{% if citation_type %}
  <h2>{{ citation_type }}</h2>

  <form action="/create_citation" method="post">
    <label for="content">Enter a new citation:</label>
    <input type="hidden" name="citation_type" value="{{ citation_type }}">
    <br/>
    <p>Required fields:</p>
    {% for field in all_citation_types[citation_type]["required"] %}
    <input type="text" name="{{ field }}" placeholder="{{ field }}" required>
    <br>
    {% endfor %}
    
    <p>Optional fields:</p>
    {% for field in all_citation_types[citation_type]["optional"] %}
    <input type="text" name="{{ field }}" placeholder="{{ field }}">
    <br>
    {% endfor %}
    
    <button type="submit">
      Create
    </button>
  </form>

{% endif %}



<h4>Citations:</h4>
<ul>
  {% for citation in citations %}
  <li style="margin-bottom: 1rem;">
    <details>
      <summary>
        {{citation}}
        <form action="/delete_citation" method="post">
          <input type="hidden" name="citation_id" value="{{ citation.id }}">
          <input type="submit" value="Delete">
        </form>
      </summary>
      <div style="margin-left: 20px; margin-top: 5px;">
        {% for field in citation.fields %}
          <p><strong>{{ field.capitalize() }}:</strong> {{ citation.fields[field] }}</p>
        {% endfor %}
    </details>
  </li>
  {% endfor %}
</ul>



{% endblock %}