{% extends "layout.html" %}

{% block title %}
Citation app
{% endblock %}

{% block body %}

<h1>Citation helper</h1>
<h3>Create a new todo</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/create_citation" method="post">
  <label for="content">Enter a new citation:</label>
  <br/>
  <input type="text" name="title" placeholder="title">
  <br/>
  <input type="text" name="author" placeholder="author">
  
  
  <br>
  <button type="submit">
    Create
  </button>
</form>


<ul>
  <h4>Citations:</h4>
  {% for citation in citations %}
    <li style="display: flex">
      <div>
        <p><i>{{ citation.title }} </i>: written by {{citation.author}}</p>

      </div>
    </li>
  {% endfor %}
</ul>



{% endblock %}